<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Összes szállás</title>
    <link rel="stylesheet" href="http://localhost/booking-system/view/css/listings.css">
</head>
<body>
    <header>
        <h1>Szállások listája</h1>
        <nav>
            <a href="http://localhost/booking-system/view/html/user_dashboard.html">Profil</a>
        </nav>
    </header>
    <main>
        <div id="listingsContainer"></div>
    </main>
    <script src="http://localhost/booking-system/view/js/index.js"></script>
</body>
</html>
