<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Felhasználói oldal</title>
  <link rel="stylesheet" href="http://localhost/booking-system/view/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Üdvözöljük, <span id="username"></span>!</h1>
    <p>E-mail: <span id="email"></span></p>
    <button id="logoutBtn">Kijelentkezés</button>
  </div>

  <script src="http://localhost/booking-system/view/js/user_dashboard.js"></script>
</body>
</html>
